.container{
    max-width: 1280px;
    margin:auto;
    margin-top: 20px;
}
.nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.back{
    background-color: transparent;
    color: #0067ff;
    border: none;
    font-size: 18px;
}
.tittle{
    text-align: center;
}
.hidden{
    opacity: 0;
}
.chatInput{
    margin: auto;
    width: 880px;
    justify-content: center;
    box-shadow: 4px -1px 25px -3px rgb(153, 153, 153,1);
    padding: 10px 0;
}
.chatInput input{
    border: none;
    flex: 1;
    padding-left: 10px;
    font-size: 18px;
    outline: none;
}
.chatInput img{
    width: 50px;
    cursor: pointer;
    padding-right: 5px;
}
